body {
   font-family: 'Noto Sans', sans-serif; 
     background-color: #55A4B6
}
.navbar {
    border-bottom: #557334 2px solid;
    
}
#headerSection {
   background: url('../images/timothy-l-brock-CwQ_OudRQII-unsplash.jpg') no-repeat center center fixed;
    background-size: 1600px; 
    height: 40vh;
}
.jumbotron {
    box-shadow: 0px 20px 20px 0px #40323252;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.jumbotron .col-md-12{
    margin:auto;
    text-align: center;
    
}
.jumbotron .col-md-12 h3{
    color: aqua;
}
.navbar .navbar-brand {
    color : #4E692F;
    font-size: 24px;
    
}
.nav-link{
    color: #F2F2F2 !important;
    text-transform: uppercase;
    transition: color 0.5s ease;
}
.nav-link:hover {
    color: #4E692F !important;
}
#headerSection .overlay {
    background-color: rgba(0,0,0,.5);
        
}
#headerSection .row{
    height: 40vh;
}
#headerSection h1 {
    color: #F2F2F2;
}
#hakkimda h2{
    padding-left: 30px;
    font-size: 32px;
    font-weight: 400;
    color: blue;
}
#headerSection1 {
   background: url('../images/markus-spiske-NeoxCu7UDmM-unsplash.jpg') no-repeat center center fixed;
    background-size: 1600px; 
    height: 40vh;
    
}
#headerSection1 .nav-link {
    float:left;
    text-align: center;
    
}
#headerSection1 .row{
    height: 40vh;
    color:darkgoldenrod;
}